/* .body {
   background-color: #f9fff3;
} */

/* Nav Bar */
.navbar-dark .navbar-nav .nav-link {
   color: rgba(255,255,255,.75);
}
.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover {
   color: rgb(255, 255, 255);
 }
