{% extends "base.html" %}
{% load static %}

{% block content %}
{% for post in post_list %}
<div class="container mt-4">
    <div class="card">
        <div class="row no-gutters">
            <div class="col-4">
                <div class="card-body">
                    {% if "placeholder" in post.featured_image.url %}
                    <img class="rounded img-fluid" src="{% static 'images/FullLogo_square.png' %}">
                    {% else %}
                    <img class="rounded img-fluid" src=" {{ post.featured_image.url }}">
                    {% endif %}
                </div>
            </div>
            <div class="col-8">
                <div class="card-body">
                    <a href="{% url 'post_detail' post.slug post.id %}">
                        <h2 class="card-title">{{ post.title }}</h2>
                    </a>
                    <p class="card-text">{{ post.blurb }}</p>
                </div>
            </div>
        </div>
        <div class="card-footer row no-gutters">
            <div class="col">
                <a href="{% url 'profile' post.username.pk %}">{{ post.username }}</a>
            </div>
            <div class="col text-right">
                <p class="card-text text-muted h6">Post Created: {{ post.just_date }}</p>
            </div>
        </div>
    </div>
</div>

{% endfor %}
<a href="{% url 'post_create' %}"> Create a Post</a>
{%endblock%}