{% extends "base.html" %}
{% load static %}

{% block title %}Home - Side Hustle{% endblock title %}

{% block content %}
    <div class="container text-center">
        <p class="mx-4 mb-n5"><em>Welcome to</em></p>
        <h1 class="mb-n2 mx-4"><br><span>SideHustle</span></h1>
        <img class="rounded img-fluid my-2 w-50" src="{% static 'images/full_logo_transparent.png' %}">
        <p class="mx-4 mt-2"><strong><em>Need a job done, or have valuable skills to offer?</em></strong></p>
        <p class= "mx-4">
            Side Hustle connects service providers with customers.
        </p>
        <p class="mx-4">
            Users can create posts for services they provide, 
            and/or create posts requesting a service to be provided.
        </p>
        <p class="mx-4">
            Check out our Bulletin Board to see these posts:
        </p>
        <a href="{% url 'bulletin_home' %}" class="btn btn-primary">Bulletin Board</a>
    </div>
{%endblock%}