{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="container text-center">
        <h1 class="mt-4">Welcome to Side Hustle</h1>
        <img class="rounded img-fluid" width="50%" src="{% static 'images/full_logo_transparent.png' %}">
        <h2>Need a job done, or have valuable skills to offer?</h2>
        <p class="mt-4">
            Side Hustle connects service providers with customers. Users can create posts for services they provide, 
            and/or create posts requesting a service to be provided.
        </p>
        <p>
            Check out our <a href="{% url 'bulletin_home' %}">Bulletin Board</a> to see these posts.
        </p>
    </div>
{%endblock%}