{% extends "base.html" %}
{% load static %}
{% block title %}Post - {{ post.username }} - {{ post.pk }} - Side Hustle{% endblock title %}

{% block content %}
<div class="container text-center" id="post-detail">
    <div class="card mt-0 mb-0">
        <div class="row no-gutters">
            <div class="col">
                <div class="card-header text-center">
                    <strong>Title</strong> 
                </div>
                <div class="card-body">
                    <h1>{{ post.title }}</h1>
                </div>
            </div>
        </div>
    </div>

    <div class="card mt-4">
        <div class="row no-gutters">
            <div class="col">
                <div class="card-body">
                    {% if "placeholder" in post.featured_image.url %}
                    <img class="rounded img-fluid border" src="{% static 'images/full_logo_transparent.png' %}">
                    {% else %}
                    <img class="rounded img-fluid border" src=" {{ post.featured_image.url }}">
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    <div class="card mt-4">
        <div class="row no-gutters">
            <div class="col">
                <div class="card-header text-center">
                    <strong>Blurb</strong> 
                </div>
                <div class="card-body">
                    {{ post.blurb | safe }}
                </div>
            </div>
        </div>
    </div>

    <div class="card mt-4">
        <div class="row no-gutters">
            <div class="col">
                <div class="card-header text-center">
                    <strong>Description</strong>
                </div>
                <div class="card-body">
                    {{ post.description | safe }}
                </div>
            </div>
        </div>
    </div>

    <div class="card mt-4">
        <div class="row no-gutters">
            <div class="col">
                <div class="card-header text-center">
                    <strong>Rate / Payment Type</strong>
                </div>
                <div class="card-body">
                    €{{ post.rate }} / {{ post.get_payment_type_display }}
                </div>
            </div>
        </div>
    </div>

    <div class="card mt-4">
        <div class="row no-gutters">
            <div class="col">
                <div class="card-header text-center">
                    <strong>Contact Information</strong>
                </div>
                {% if user.is_authenticated %}
                <div class="card-body">
                    <p>{{ post.contact_info }}</p>
                </div>
                {% else %}
                <div class="card-body">
                    <p>Sign In to view Contact Information</p>
                </div>
                {% endif %}
            </div>
        </div>
    </div>

    <div class="card mt-4">
        <div class="row no-gutters">
            <div class="col">
                <div class="card-header text-center">
                    <strong>Profile Link</strong>
                </div>
                <div class="card-body">
                    <a href="{% url 'profile' post.username.pk %}">{{ post.username }}</a>
                </div>
            </div>
        </div>
    </div>

    <div class="card mt-4">
        <div class="row no-gutters">
            <div class="col">
                <div class="card-header text-center">
                    <strong>Post Created</strong>
                </div>
                <div class="card-body">
                    <p>{{ post.just_date_created_on }}</p>
                </div>
            </div>
        </div>
    </div>

    <div class="card mt-4">
        <div class="row no-gutters">
            <div class="col">
                <div class="card-header text-center">
                    <strong>Post Updated</strong>
                </div>
                <div class="card-body">
                    <p>{{ post.just_date_updated_on }}</p>
                </div>
            </div>
        </div>
    </div>

    <div class="reverse-bg rounded">
        <h2 class="brand-h1 mx-4 mt-4 reverse-bg">Reviews</h2>
    </div>
    <a href="{% url 'post_review_create' post.pk %}" class="btn btn-primary mt-3">Add Review</a>
    {% for review in reviews %}
    <div class="card mt-4">
        <div class="row no-gutters">
            <div class="col">
                <div class="card-body">
                    <p class="mb-2"><strong>{{ review.title }}</strong></p>
                    <p class="mb-2">{{ review.description }}</p>
                    <p><strong> Rating: {{ review.get_rating_display }} <i class="fa-regular fa-star"></i></strong></p>
                </div>
                <div class="card-footer row no-gutters">
                    <div class="col text-left">
                        <a class="card-text" href="{% url 'profile' review.username.pk %}">{{ review.username }}</a>
                    </div>
                    <div class="col text-right">
                        <p class="card-text text-muted h6">{{ review.just_date_created_on }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %} 
    {% if no_reviews %} 
    <div class="card mt-4">
        <div class="row no-gutters">
            <div class="col">
                <div class="card-body">
                    <p>No reviews for this post yet.</p>
                </div>
            </div>
        </div>
    </div>
    {% endif %}   
</div>
{%endblock%}